$accent: #007195;
$black: #000000;
$dark: #333333;
$white: #F0F0F0;
$font:'Inter', sans-serif;

@mixin bg_s {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@mixin df_ac {
    display: flex;
    align-items: center;
}
@mixin df_jcc {
    display: flex;
    justify-content: center;
}
@mixin df_ac_jcc {
    display: flex;
    align-items: center;
    justify-content: center;
}
:root {
    --container: 1800px;
    --fz64: 64px;
    --fz48: 48px;
    --fz42: 42px;
    --fz36: 36px;
    --fz32: 32px;
    --fz28: 28px;
    --fz24: 24px;
    --fz18: 18px;
    --fz16: 16px;
    --fz14: 14px;
    --fz8: 8px;
}
body {
    background-color: $white;
    margin: 0;
    padding: 0;
    color: $dark;
    font-family: $font;
    box-sizing: border-box;
    font-size: var(--fz24);
    font-weight: 500;
}
a,
a i {
    display: inline-block;
    text-decoration: none;
    color: $black;
    transition: all .3s;
}
a:hover,
a:hover i {
    color: rgba(14, 14, 14, 0.7);
}
section {
    margin-bottom: 120px;
}
.pt0 {
    padding-top: 0!important;
}
.pb0 {
    padding-bottom: 0!important;
}
.mt0 {
    margin-top: 0!important;
}
.mb0 {
    margin-bottom: 0!important;
}
img,
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input,
textarea,
select {
    outline: none;
    padding: 10px 18px;
    height: fit-content;
    width: 100%;
    transition: all .3s;
    &.error {
        border-color: red!important;
    }
}
// select {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3e%3cpath d='M4.2907 7.42566L0.618285 0.675658L7.96313 0.675659L4.2907 7.42566Z' fill='%23444444'/%3e%3c/svg%3e") calc(100% - 5px) / 10px no-repeat $white;
//     &::-ms-expand {
//         display: none;
//     }
// }
.pt0 {
    padding-top: 0!important;
}
.mt0 {
    margin-top: 0!important;
}
.btn {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 14px 40px;
    border: 1px solid transparent;
    font-size: var(--fz16);
    font-weight: 700;
    transition: all .3s;
    border-radius: 8px;
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
    &:hover {
        color: $white;
    }
    &.white {
        background-color: $white;
        &:hover {
            background-color: $white;
        }
    }
}
._title {
    font-size: var(--fz42);
    font-weight: 600;
    color: $accent;
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6, p {
  color: $black;
  margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: var(--container);
}

.header {
    height: 100vh;
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 0;
    .headerBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .info-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                width: 149px;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
            select {
                align-self: center;
                width: 250px;
                background: none;
                border: 0;
                font-weight: 600;
                color: $white;
                appearance: none;
                background: url("../img/custom-select.svg") no-repeat right;
                background-position-x: calc(90% + 15px);
                option{
                    color:$white;
                    background: $accent;
                }
            }
            .headerNav {
                ul {
                    display: flex;
                    gap: 80px;
                    li {
                        font-weight: 600;
                        color: $white;
                        a {
                            color: $white;
                            font-weight: 600;
                        }
                    }
                }
            }

        }
        .content {
            .main-text {
                font-size: var(--fz64);
                color: $white;
                text-transform: uppercase;
                font-weight: medium;
            }
            .desc {
                color: $white;
                font-weight: medium;
            }
        }
    }
}

.greeting {
    margin-top: 32px;
    .greetingBlock {
        .info-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 28px;
            .img {
                width: 71px;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
            .title {
              text-align: center;
              color: $accent;
              font-size: var(--fz48);
              font-weight: 600;
            }
            .text {
                color: $black;
                text-align: center;
                font-size: var(--fz24);
            }
        }
    }
}
.aboutUsSection {
    .aboutUsBlock {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .info-block {
            display: flex;
            flex-direction: column;
            gap: 32px;
            .text-holder {
                display: flex;
                flex-direction: column;
                gap: 32px;
                p {
                    font-size: var(--fz28);
                }
            }
            .img-holder {
                display: flex;
                justify-content: space-between;
                .img {
                    width: 518px;
                    img {
                        width: 100%;
                        border-radius: 270px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
.whySection {
    .whyBlock {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .info-block {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(880px, 1fr));
            gap: 40px;
            .card {
                background-image: url("../img/cardbg.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                padding: 30px;
                border-radius: 70px;
                span {
                    font-weight: 600;
                    color: $white;
                    font-size: var(--fz32);
                }
                p {
                    color: $white;
                    font-size: var(--fz28);
                }
            }
        }
    }
}
.contactSection {
    .contactBlock {
        display: flex;
        flex-direction: column;
        gap: 32px;
        .info-block {
            display: flex;
            flex-direction: column;
            gap: 32px;
            .text-holder {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 16px;
                text-transform: uppercase;
                .text {
                    span {
                        color: $accent;
                        font-weight: 600;
                    }
                }
            }
            .social-media {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
            }
        }
    }
}
.footer {
    background-color: $dark;
    .footerBlock {
        padding: 32px 0;
        .info-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .copyright,
            .support {
                opacity: 0.5;
                color: $white;
                font-size: var(--fz14);
                a {
                    color: $white;
                }
            }
        }
    }
}
.informationBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 81px 8px;
    gap: 34px;
    .qualify{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .info-block{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 140px;
            .item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 5px solid #007195;
                border-radius: 70px;
                padding: 110px 0px;
                gap: 10px;
                max-width: 491px;
                width: 100%;
                .text{
                    font-weight: 600;
                    font-size: 24px;
                    text-align: center;
                    .name{
                        color: #007195;
                    }
                }
                .image{
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .work{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .info-block{
            display: flex;
            flex-direction: column;
            gap: 32px;
            .item{
                border: 5px solid #007195;
                border-radius: 70px;
                padding: 40px;
                .text{
                    font-weight: 600;
                    font-size: 24px;
                    text-align: start;
                    max-width: 1693px;
                    width: 100%;
                    .name{
                        color: #007195;
                    }
                }
            }
        }
    }
}

.header-mini {
    padding: 32px 0;
    background-color: $white;
    .headerBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .info-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                width: 149px;
                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
            .headerNav {
                ul {
                    display: flex;
                    gap: 80px;
                    li {
                        font-weight: 600;
                        color: $black;
                        a {
                            color: $black;
                            font-weight: 600;
                        }
                    }
                }
            }

        }
        .content {
            .main-text {
                font-size: var(--fz64);
                color: $white;
                text-transform: uppercase;
                font-weight: medium;
            }
            .desc {
                color: $white;
                font-weight: medium;
            }
        }
    }
}